<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>items</key>
   <array>
       <dict>
           <key>assets</key>
           <array>
               <dict>
                   <key>kind</key>
                   <string>software-package</string>
                   <key>url</key>
                   <string>http://60.191.15.90:4002/download/jjbx-test.ipa</string>
               </dict>
           </array>
           <key>metadata</key>
          <dict>
            <key>bundle-identifier</key>
            <string>com.czbank.jjbxtest</string>
            <key>bundle-version</key>
            <string>2.3.1</string>
            <key>kind</key>
            <string>software</string>
            <key>title</key>
            <string>极简报销测试</string>
          </dict>
       </dict>
   </array>
</dict>
</plist>
